In [1]:
#Considering all columns with categoricalimputation and neumerical impution based on mean

In [2]:
import pandas as pd
import numpy as np 
import seaborn as sns
import sklearn 
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
# Import model
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score,f1_score, precision_score, recall_score,roc_auc_score,roc_curve

In [3]:
#Reading Application train csv
data_df = pd.read_csv("UCI_Credit_Card_new.csv")
print(data_df.shape)
print(data_df.head(20))

(30000, 25)
    ID  LIMIT_BAL     SEX        EDUCATION MARRIAGE   AGE  PAY_0  PAY_2  \
0    1      20000  female       university  married  24.0      2      2
1    2     120000  female       university   single  26.0     -1      2
2    3      90000  female       university   single  34.0      0      0
3    4      50000     NaN       university  married  37.0      0      0
4    5      50000    male       university  married  57.0     -1      0
5    6      50000    male  graduate school   single  37.0      0      0
6    7     500000    male  graduate school   single  29.0      0      0
7    8     100000     NaN       university   single  23.0      0     -1
8    9     140000     NaN      high school  married  28.0      0      0
9   10      20000    male      high school      NaN  35.0     -2     -2
10  11     200000     NaN      high school      NaN  34.0      0      0
11  12     260000     NaN  graduate school      NaN  51.0     -1     -1
12  13     630000     NaN       university      NaN  41.0     -1      0
13  14      70000    male       university      NaN  30.0      1      2
14  15     250000    male  graduate school      NaN  29.0      0      0
15  16      50000     NaN      high school   others  23.0      1      2
16  17      20000    male  graduate school      NaN  24.0      0      0
17  18     320000    male  graduate school  married  49.0      0      0
18  19     360000     NaN  graduate school  married  49.0      1     -2
19  20     180000     NaN  graduate school      NaN  29.0      1     -2

    PAY_3  PAY_4             ...              BILL_AMT4  BILL_AMT5  BILL_AMT6  \
0      -1     -1             ...                    0.0          0        0.0
1       0      0             ...                 3272.0       3455     3261.0
2       0      0             ...                14331.0      14948    15549.0
3       0      0             ...                28314.0      28959    29547.0
4      -1      0             ...                20940.0      19146    19131.0
5       0      0             ...                19394.0      19619    20024.0
6       0      0             ...               542653.0     483003   473944.0
7      -1      0             ...                  221.0       -159      567.0
8       2      0             ...                12211.0      11793     3719.0
9      -2     -2             ...                    0.0      13007    13912.0
10      2      0             ...                 2513.0       1828     3731.0
11     -1     -1             ...                 8517.0      22287    13668.0
12     -1     -1             ...                 6500.0       6500     2870.0
13      2      0             ...                66782.0      36137    36894.0
14      0      0             ...                59696.0      56875    55512.0
15      0      0             ...                28771.0      29531    30211.0
16      2      2             ...                18338.0      17905    19104.0
17      0     -1             ...                70074.0       5856   195599.0
18     -2     -2             ...                    0.0          0        0.0
19     -2     -2             ...                    0.0          0        0.0

    PAY_AMT1  PAY_AMT2  PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  \
0          0       689       0.0         0         0         0
1          0      1000    1000.0      1000         0      2000
2       1518      1500    1000.0      1000      1000      5000
3       2000      2019    1200.0      1100      1069      1000
4       2000     36681   10000.0      9000       689       679
5       2500      1815     657.0      1000      1000       800
6      55000     40000   38000.0     20239     13750     13770
7        380       601       0.0       581      1687      1542
8       3329         0     432.0      1000      1000      1000
9          0         0       0.0     13007      1122         0
10      2306        12      50.0       300      3738        66
11     21818      9966    8583.0     22301         0      3640
12      1000      6500    6500.0      6500      2870         0
13      3200         0    3000.0      3000      1500         0
14      3000      3000    3000.0      3000      3000      3000
15         0      1500    1100.0      1200      1300      1100
16      3200         0    1500.0         0      1650         0
17     10358     10000   75940.0     20000    195599     50000
18         0         0       0.0         0         0         0
19         0         0       0.0         0         0         0

    default.payment.next.month
0                            1
1                            1
2                            0
3                            0
4                            0
5                            0
6                            0
7                            0
8                            0
9                            0
10                           0
11                           0
12                           0
13                           1
14                           0
15                           0
16                           1
17                           0
18                           0
19                           0

[20 rows x 25 columns]

In [4]:
#Rename column
data_df = data_df.rename(columns={'default.payment.next.month': 'default'})
print(data_df.head())

   ID  LIMIT_BAL     SEX   EDUCATION MARRIAGE   AGE  PAY_0  PAY_2  PAY_3  \
0   1      20000  female  university  married  24.0      2      2     -1
1   2     120000  female  university   single  26.0     -1      2      0
2   3      90000  female  university   single  34.0      0      0      0
3   4      50000     NaN  university  married  37.0      0      0      0
4   5      50000    male  university  married  57.0     -1      0     -1

   PAY_4   ...     BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  \
0     -1   ...           0.0          0        0.0         0       689
1      0   ...        3272.0       3455     3261.0         0      1000
2      0   ...       14331.0      14948    15549.0      1518      1500
3      0   ...       28314.0      28959    29547.0      2000      2019
4      0   ...       20940.0      19146    19131.0      2000     36681

   PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  default
0       0.0         0         0         0        1
1    1000.0      1000         0      2000        1
2    1000.0      1000      1000      5000        0
3    1200.0      1100      1069      1000        0
4   10000.0      9000       689       679        0

[5 rows x 25 columns]

In [5]:
#We can see clearly its a class imbalance problem.
#Now analyze missing value
mis_val = data_df.isnull().sum()
print(mis_val)
#writing the outcome to csv to analyze further
mis_val.to_csv('case2_missing.csv')

ID             0
LIMIT_BAL      0
SEX          113
EDUCATION    161
MARRIAGE     105
AGE           93
PAY_0          0
PAY_2          0
PAY_3          0
PAY_4          0
PAY_5          0
PAY_6          0
BILL_AMT1      0
BILL_AMT2      0
BILL_AMT3      0
BILL_AMT4     21
BILL_AMT5      0
BILL_AMT6     16
PAY_AMT1       0
PAY_AMT2       0
PAY_AMT3      18
PAY_AMT4       0
PAY_AMT5       0
PAY_AMT6       0
default        0
dtype: int64

In [6]:
# Number of each type of column
print(data_df.dtypes.value_counts())

int64      18
float64     4
object      3
dtype: int64

In [7]:
print(data_df.select_dtypes('object').columns)
print(data_df.select_dtypes('int64').columns)
print(data_df.select_dtypes('float64').columns)

Index(['SEX', 'EDUCATION', 'MARRIAGE'], dtype='object')
Index(['ID', 'LIMIT_BAL', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6',
       'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT5', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'default'],
      dtype='object')
Index(['AGE', 'BILL_AMT4', 'BILL_AMT6', 'PAY_AMT3'], dtype='object')

In [8]:
#Categorical imputer
imp=SimpleImputer(missing_values="NaN", strategy="most_frequent" )
#cat_col_names=app_train_df.select_dtypes('object').columns
cat_col_names=['SEX', 'EDUCATION', 'MARRIAGE']
for name in cat_col_names:
    print(name)
    data_df[name]=imp.fit_transform(data_df[[name]].astype(str)).ravel()

SEX
EDUCATION
MARRIAGE

In [9]:
#Now analyze missing value
mis_val = data_df.isnull().sum()
print(mis_val)
#writing the outcome to csv to analyze further
mis_val.to_csv('case2_missing_after_cat_impute.csv')

ID            0
LIMIT_BAL     0
SEX           0
EDUCATION     0
MARRIAGE      0
AGE          93
PAY_0         0
PAY_2         0
PAY_3         0
PAY_4         0
PAY_5         0
PAY_6         0
BILL_AMT1     0
BILL_AMT2     0
BILL_AMT3     0
BILL_AMT4    21
BILL_AMT5     0
BILL_AMT6    16
PAY_AMT1      0
PAY_AMT2      0
PAY_AMT3     18
PAY_AMT4      0
PAY_AMT5      0
PAY_AMT6      0
default       0
dtype: int64

In [10]:
data_df.select_dtypes(exclude='object').columns

Index(['ID', 'LIMIT_BAL', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5',
       'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4',
       'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3',
       'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'default'],
      dtype='object')

In [11]:
#Neumerical imputer
neum_cols=['AGE','BILL_AMT4','BILL_AMT6','PAY_AMT3']
neum_imp = SimpleImputer(missing_values=np.NaN, strategy='mean')
for name in neum_cols:
    print(name)
    data_df[name]=neum_imp.fit_transform(data_df[[name]]).ravel()

AGE
BILL_AMT4
BILL_AMT6
PAY_AMT3

In [12]:
#Now analyze missing value
mis_val = data_df.isnull().sum()
print(mis_val)
#writing the outcome to csv to analyze further
mis_val.to_csv('case2_missing_after_neum_impute.csv')

ID           0
LIMIT_BAL    0
SEX          0
EDUCATION    0
MARRIAGE     0
AGE          0
PAY_0        0
PAY_2        0
PAY_3        0
PAY_4        0
PAY_5        0
PAY_6        0
BILL_AMT1    0
BILL_AMT2    0
BILL_AMT3    0
BILL_AMT4    0
BILL_AMT5    0
BILL_AMT6    0
PAY_AMT1     0
PAY_AMT2     0
PAY_AMT3     0
PAY_AMT4     0
PAY_AMT5     0
PAY_AMT6     0
default      0
dtype: int64

In [13]:
# verifying categories before encoding app_train_df.select_dtypes('object').columns
print(data_df.head())

   ID  LIMIT_BAL     SEX   EDUCATION MARRIAGE   AGE  PAY_0  PAY_2  PAY_3  \
0   1      20000  female  university  married  24.0      2      2     -1
1   2     120000  female  university   single  26.0     -1      2      0
2   3      90000  female  university   single  34.0      0      0      0
3   4      50000     nan  university  married  37.0      0      0      0
4   5      50000    male  university  married  57.0     -1      0     -1

   PAY_4   ...     BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  \
0     -1   ...           0.0          0        0.0         0       689
1      0   ...        3272.0       3455     3261.0         0      1000
2      0   ...       14331.0      14948    15549.0      1518      1500
3      0   ...       28314.0      28959    29547.0      2000      2019
4      0   ...       20940.0      19146    19131.0      2000     36681

   PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  default
0       0.0         0         0         0        1
1    1000.0      1000         0      2000        1
2    1000.0      1000      1000      5000        0
3    1200.0      1100      1069      1000        0
4   10000.0      9000       689       679        0

[5 rows x 25 columns]

In [14]:
#Label encoding
#Encoding category columns
cat_labelencoder = LabelEncoder()
cat_col_names=data_df.select_dtypes('object').columns
for name in cat_col_names:
    print(name)
    data_df[name]=cat_labelencoder.fit_transform(data_df[name])
print(data_df.head())

SEX
EDUCATION
MARRIAGE
   ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE   AGE  PAY_0  PAY_2  PAY_3  PAY_4  \
0   1      20000    0          4         0  24.0      2      2     -1     -1
1   2     120000    0          4         3  26.0     -1      2      0      0
2   3      90000    0          4         3  34.0      0      0      0      0
3   4      50000    2          4         0  37.0      0      0      0      0
4   5      50000    1          4         0  57.0     -1      0     -1      0

    ...     BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  PAY_AMT3  \
0   ...           0.0          0        0.0         0       689       0.0
1   ...        3272.0       3455     3261.0         0      1000    1000.0
2   ...       14331.0      14948    15549.0      1518      1500    1000.0
3   ...       28314.0      28959    29547.0      2000      2019    1200.0
4   ...       20940.0      19146    19131.0      2000     36681   10000.0

   PAY_AMT4  PAY_AMT5  PAY_AMT6  default
0         0         0         0        1
1      1000         0      2000        1
2      1000      1000      5000        0
3      1100      1069      1000        0
4      9000       689       679        0

[5 rows x 25 columns]

In [15]:
X = pd.DataFrame(data_df.drop(['default','ID'], axis=1))
y = pd.DataFrame(data_df['default'])
print(X.shape)
print(y.shape)

(30000, 23)
(30000, 1)

In [16]:
#Train Test Split
#Use X and y variables to split the training data into train and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .20, random_state = 42)
print (X_train.shape)
print (y_train.shape)
print (X_test.shape)
print (y_test.shape)

(24000, 23)
(24000, 1)
(6000, 23)
(6000, 1)

# LOGISTIC REGRESSION

In [17]:
# Create instance of model
lreg = LogisticRegression(random_state=42)
# Pass training data into model
lreg.fit(X_train, y_train)
# Predict
y_pred_lreg = lreg.predict(X_test)
# Score It
logreg_accuracy = round(accuracy_score(y_test, y_pred_lreg) * 100,2)
print('Accuracy', logreg_accuracy,'%')
print('roc_auc_score',roc_auc_score(y_test, y_pred_lreg))

C:\Users\nc4716\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\nc4716\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Accuracy 78.12 %
roc_auc_score 0.5

# KNN

In [18]:
# Create instance of model
knn = KNeighborsClassifier(n_neighbors = 5)
# Fit to training data
knn.fit(X_train,y_train)
# Predict
y_pred_knn = knn.predict(X_test)
# Score It
logreg_accuracy = round(accuracy_score(y_test, y_pred_knn) * 100,2)
print('Accuracy', logreg_accuracy,'%')
print('roc_auc_score',roc_auc_score(y_test, y_pred_knn))

C:\Users\nc4716\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

Accuracy 75.72 %
roc_auc_score 0.5520741608223942

# DecisionTreeClassifier

In [19]:
# Create model object 35--Accuracy 85.68 % roc_auc_score 0.5404810754456927
dtree = DecisionTreeClassifier(max_depth=35,random_state=42)
# Fit to training sets
dtree.fit(X_train,y_train)
# Predict
y_pred_dt = dtree.predict(X_test)
# Score It
logreg_accuracy = round(accuracy_score(y_test, y_pred_dt) * 100,2)
print('Accuracy', logreg_accuracy,'%')
print('roc_auc_score',roc_auc_score(y_test, y_pred_dt))

Accuracy 73.28 %
roc_auc_score 0.6168190410480545

# RANDOM FOREST

In [20]:
# Create model object 91.9 %,0.5028338420635398, esti-15, max_depth=25
rfc = RandomForestClassifier(n_estimators=15,random_state=42,max_depth=5)
# Fit model to training data
rfc.fit(X_train,y_train)
# Predict
y_pred_rf = rfc.predict(X_test)
# Score It
logreg_accuracy = round(accuracy_score(y_test, y_pred_rf) * 100,2)
print('Accuracy', logreg_accuracy,'%')
print('roc_auc_score',roc_auc_score(y_test, y_pred_rf))

C:\Users\nc4716\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

Accuracy 81.67 %
roc_auc_score 0.6301810959353309

# XGBClassifier

In [21]:
from xgboost import XGBClassifier
# Basic XGB classifier 
xgb_classifier = XGBClassifier(n_estimators=100,max_depth=3,learning_rate=0.1,random_state=42)
xgb_classifier.fit(X_train,y_train)
# Predict
y_pred_xgb = xgb_classifier.predict(X_test)
# Score It
logreg_accuracy = round(accuracy_score(y_test, y_pred_xgb) * 100,2)
print('Accuracy', logreg_accuracy,'%')
print('roc_auc_score',roc_auc_score(y_test, y_pred_xgb))

C:\Users\nc4716\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\preprocessing\label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\nc4716\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\preprocessing\label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Accuracy 82.05 %
roc_auc_score 0.6526461273919485

In [22]:
from sklearn.model_selection import GridSearchCV
#Grid searching on above algo
n_estimators = [5,10,15,20,25,50,75,100]
#max_depth = [2,3,5,7,9,15,20,25,50,100]
max_depth = [5,7,15,20]
#min_child_weight = [4,5,6,7,8]
min_child_weight = [4,5,6]

# Create parameter grid
#param_grid = {'n_neighbors ': [0.1,1, 10, 100, 1000]}
param_grid1 = {
    'n_estimators':n_estimators,
    'max_depth':max_depth
}
#print(param_grid)
# Import


# Instantiate grid object
grid = GridSearchCV(XGBClassifier(n_estimators=50,random_state=42,learning_rate=.1),param_grid1,scoring='roc_auc', refit = True, verbose = 1)#verbose is the text output describing the process

# Fit to training data
grid.fit(X_train,y_train.values.ravel())
print(grid.best_params_)
# Predict
y_pred_grid_xgb = grid.predict(X_test)
# Score It
logreg_accuracy = round(accuracy_score(y_test, y_pred_grid_xgb) * 100,2)
print('Accuracy', logreg_accuracy,'%')
print('roc_auc_score',roc_auc_score(y_test, y_pred_grid_xgb))

Fitting 3 folds for each of 32 candidates, totalling 96 fits

C:\Users\nc4716\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  96 out of  96 | elapsed:  5.6min finished

{'max_depth': 5, 'n_estimators': 50}
Accuracy 82.2 %
roc_auc_score 0.6560733931954519