In [9]:
import pandas as pd
import os
import numpy as np 
import seaborn as sns
import sklearn 
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
%matplotlib inline

In [10]:
os.chdir("C:/Users/Lenovo/Desktop/python project/project 1")

In [13]:
df= pd.read_csv("UCI_Credit_Card_new.csv")

In [18]:
print(df.shape)
print(df.head())

(30000, 25)
   ID  LIMIT_BAL     SEX   EDUCATION MARRIAGE   AGE  PAY_0  PAY_2  PAY_3  \
0   1      20000  female  university  married  24.0      2      2     -1
1   2     120000  female  university   single  26.0     -1      2      0
2   3      90000  female  university   single  34.0      0      0      0
3   4      50000     NaN  university  married  37.0      0      0      0
4   5      50000    male  university  married  57.0     -1      0     -1

   PAY_4             ...              BILL_AMT4  BILL_AMT5  BILL_AMT6  \
0     -1             ...                    0.0          0        0.0
1      0             ...                 3272.0       3455     3261.0
2      0             ...                14331.0      14948    15549.0
3      0             ...                28314.0      28959    29547.0
4      0             ...                20940.0      19146    19131.0

   PAY_AMT1  PAY_AMT2  PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  \
0         0       689       0.0         0         0         0
1         0      1000    1000.0      1000         0      2000
2      1518      1500    1000.0      1000      1000      5000
3      2000      2019    1200.0      1100      1069      1000
4      2000     36681   10000.0      9000       689       679

   default.payment.next.month
0                           1
1                           1
2                           0
3                           0
4                           0

[5 rows x 25 columns]

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
ID                            30000 non-null int64
LIMIT_BAL                     30000 non-null int64
SEX                           29887 non-null object
EDUCATION                     29839 non-null object
MARRIAGE                      29895 non-null object
AGE                           29907 non-null float64
PAY_0                         30000 non-null int64
PAY_2                         30000 non-null int64
PAY_3                         30000 non-null int64
PAY_4                         30000 non-null int64
PAY_5                         30000 non-null int64
PAY_6                         30000 non-null int64
BILL_AMT1                     30000 non-null int64
BILL_AMT2                     30000 non-null int64
BILL_AMT3                     30000 non-null int64
BILL_AMT4                     29979 non-null float64
BILL_AMT5                     30000 non-null int64
BILL_AMT6                     29984 non-null float64
PAY_AMT1                      30000 non-null int64
PAY_AMT2                      30000 non-null int64
PAY_AMT3                      29982 non-null float64
PAY_AMT4                      30000 non-null int64
PAY_AMT5                      30000 non-null int64
PAY_AMT6                      30000 non-null int64
default.payment.next.month    30000 non-null int64
dtypes: float64(4), int64(18), object(3)
memory usage: 5.7+ MB

In [21]:
df = df.drop_duplicates(keep='first')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30000 entries, 0 to 29999
Data columns (total 25 columns):
ID                            30000 non-null int64
LIMIT_BAL                     30000 non-null int64
SEX                           29887 non-null object
EDUCATION                     29839 non-null object
MARRIAGE                      29895 non-null object
AGE                           29907 non-null float64
PAY_0                         30000 non-null int64
PAY_2                         30000 non-null int64
PAY_3                         30000 non-null int64
PAY_4                         30000 non-null int64
PAY_5                         30000 non-null int64
PAY_6                         30000 non-null int64
BILL_AMT1                     30000 non-null int64
BILL_AMT2                     30000 non-null int64
BILL_AMT3                     30000 non-null int64
BILL_AMT4                     29979 non-null float64
BILL_AMT5                     30000 non-null int64
BILL_AMT6                     29984 non-null float64
PAY_AMT1                      30000 non-null int64
PAY_AMT2                      30000 non-null int64
PAY_AMT3                      29982 non-null float64
PAY_AMT4                      30000 non-null int64
PAY_AMT5                      30000 non-null int64
PAY_AMT6                      30000 non-null int64
default.payment.next.month    30000 non-null int64
dtypes: float64(4), int64(18), object(3)
memory usage: 6.0+ MB

In [24]:
mis_val=df.isnull().sum()
print(mis_val)

ID                              0
LIMIT_BAL                       0
SEX                           113
EDUCATION                     161
MARRIAGE                      105
AGE                            93
PAY_0                           0
PAY_2                           0
PAY_3                           0
PAY_4                           0
PAY_5                           0
PAY_6                           0
BILL_AMT1                       0
BILL_AMT2                       0
BILL_AMT3                       0
BILL_AMT4                      21
BILL_AMT5                       0
BILL_AMT6                      16
PAY_AMT1                        0
PAY_AMT2                        0
PAY_AMT3                       18
PAY_AMT4                        0
PAY_AMT5                        0
PAY_AMT6                        0
default.payment.next.month      0
dtype: int64